#resume{
    background-color: #e2edff;
    min-height: 500px;
}

.sticky-top{
    background-color: #fff;
}

.skill-card{
    margin:5px; width: 120px; height: 45px; border: 1px solid #ced4da; border-radius: 5px; padding: 10px; box-shadow: 5px 5px 10px #e2edff;
    text-align: center;
}